$text-color: #d7dce2;
$prim-color: #ffcc66;

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            padding: .5em;
            color: $text-color;
            transition: .2s ease-out;
        }
    
        li:hover {
            cursor: pointer;
            color: $prim-color;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transition: .2s ease-out;
    padding-bottom: 2em;
}

.wrapper:hover {
    cursor: pointer;
    color: $prim-color;
}