$prim-text-color: #d7dce2;
$secondary-text-color: #a2aabc;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .content {
        width: 30%;

        .main-text {
            margin-bottom: 1em;

            h2 {
                margin-bottom: 1em;
            }

            p {
                color: $secondary-text-color;
                font-size: 20px;
            }
        }

        .details-text {
            display: flex;
            flex-flow: column nowrap;

            h3 {
                margin-bottom: .5em;
            }

            .element {
                display: flex;
                align-items: center;
                margin-left: .5em;

                .icon {
                    color: $prim-color;
                }

                p {
                    color: $secondary-text-color;
                    margin-left: .5em;
                    font-size: 20px;
                }

                .flag {
                    height: 1em;
                    width: 1em;
                    margin-left: .2em;
                    border-radius: 25px;
                    overflow: hidden;

                    .white {
                        background-color: #ffffff;
                        width: 100%;
                        height: 33.3%;
                    }

                    .green {
                        background-color: #008000;
                        width: 100%;
                        height: 33.3%;
                    }

                    .red {
                        background-color: #ff0000;
                        width: 100%;
                        height: 33.3%;
                    }
                }
            }
        }
    }

    .image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 3em;
        border-radius: 5px;
        overflow: hidden;

        img {
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .wrapper {
        .content {
            .main-text {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        font-size: 90%;

        .content {
            .main-text {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        flex-flow: column-reverse nowrap;
        align-items: center;
        font-size: 90%;
        height: fit-content;

        .content {
            width: 60%;
            margin-top: 2em;
            text-align: center;

            .main-text {
                p {
                    font-size: 18px;
                }
            }

            .details-text {
                align-items: center;
            }
        }

        .image {
            margin-left: 0em;
            width: 50%;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        flex-flow: column-reverse nowrap;
        align-items: center;
        font-size: 90%;
        height: fit-content;

        .content {
            width: 80%;
            margin-top: 2em;
            text-align: center;

            .main-text {
                p {
                    font-size: 18px;
                }
            }

            .details-text {
                align-items: center;
            }
        }

        .image {
            margin-left: 0em;
            width: 80%;

            img {
                width: 100%;
            }
        }
    }
}