$prim-text-color: #d7dce2;
$secondary-text-color: #a2aabc;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 50%;
        height: 40%;
        margin-right: 10em;

        h1 {
            font-size: 60px;
            margin-bottom: .2em;
        }

        .aim {
            color: $secondary-text-color;
            width: 70%;
            font-size: 20px;
        }

        .work-status {
            color: $prim-text-color;
            font-size: 18px;
            margin-top: 1em;

            span {
                color: $prim-color;
            }
        }

        a {
            width: fit-content;
            margin-top: 3em;
            padding: 1em 1.5em;
            color: $prim-color;
            background-color: transparent;
            text-decoration: none;
            border: 1px solid $prim-color;
            transition: .2s ease-out;
        }

        a:hover {
            cursor: pointer;
            background-color: $secondary-color;
        }
    }

    .arrow {
        color: $prim-color;
        position: absolute;
        top: 85%;
        transition: .2s ease-in-out;
    }

    .arrow:hover {
        cursor: pointer;
    }
}

.highlight {
    color: $prim-color;
}

@media screen and (max-width: 1300px) {
    .wrapper {
        .content-wrapper {
            h1 {
                font-size: 50px;
            }

            .aim {
                font-size: 18px;
                width: 100%;
            }

            .work-status {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        font-size: 90%;

        .content-wrapper {
            width: 60%;

            h1 {
                font-size: 50px;
            }

            a {
                font-size: 16px;
            }

            .aim {
                font-size: 18px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        font-size: 70%;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;

        .content-wrapper {
            
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        width: 100%;

        .content-wrapper {
            margin-left: 10em;
            width: 70%;

            h1 {
                font-size: 30px;
            }
        }
    }
}