$prim-text-color: #d7dce2;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 10em;

    .content-wrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 60%;
        height: 100%;

        .header {
            display: flex;
            align-items: flex-end;
            flex-flow: column nowrap;
            margin-bottom: 1em;
    
            .line {
                width: 50%;
                margin-top: .5em;
                border: 1px solid $accent-color;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 1300px) {
    .wrapper {
        .content-wrapper {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        .content-wrapper {
            width: 90%;
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        height: inherit;

        .content-wrapper {
            width: 70%;
        }

        .content {
            align-items: center;
            flex-flow: column nowrap;
        }
    }
}