$prim-text-color: #d7dce2;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;
$bg-color: #171c28;

.wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 1em 5em;
    width: 100%;
    background-color: $bg-color;
    box-shadow: 0px 5px 5px #04060c;
    z-index: 1;

    .logo {
        width: 30%;

        a {
            padding: .5em;
            font-size: 30px;
            font-weight: bold;
            color: $prim-text-color;
            text-decoration: none;
        }
    }

    .nav {
        width: 70%;

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;
    
            li {
                padding: .5em 0em;

                span {
                    color: $prim-color;
                    margin-right: .3em;
                }
                
                .active {
                    padding: .5em 1em;
                    color: $prim-color;
                    text-decoration: none;
                }

                a {
                    padding: .5em 1em;
                    color: $prim-text-color;
                    text-decoration: none;
                    transition: .2s ease-out;
                }

                a:hover {
                    cursor: pointer;
                    color: $prim-color;
                }

                button {
                    padding: 1em 1.5em;
                    color: $prim-color;
                    background-color: transparent;
                    border: 1px solid $prim-color;
                    transition: .2s ease-out;
                }

                button:hover {
                    cursor: pointer;
                    background-color: $secondary-color;
                }
            }
        }
    }
}