$prim-text-color: #d7dce2;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;
$bg-color: #171c28;

.wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 1em 2em;
    width: 100%;
    background-color: $bg-color;
    box-shadow: 0px 5px 5px #04060c;
    z-index: 1;

    .logo {
        width: 30%;

        a {
            padding: .5em;
            font-size: 30px;
            font-weight: bold;
            color: $prim-text-color;
            text-decoration: none;
        }
    }

    .logo:hover {
        cursor: pointer;
    }

    .nav {
        width: 70%;

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;

            li {
                padding: .5em 0em;

                span {
                    color: $prim-color;
                    margin-right: .3em;
                }

                .active {
                    padding: .5em 1em;
                    color: $prim-color;
                    text-decoration: none;
                }

                a {
                    padding: .5em 1em;
                    color: $prim-text-color;
                    text-decoration: none;
                    transition: .2s ease-out;
                }

                a:hover {
                    cursor: pointer;
                    color: $prim-color;
                }

                button {
                    padding: 1em 1.5em;
                    color: $prim-color;
                    background-color: transparent;
                    border: 1px solid $prim-color;
                    transition: .2s ease-out;
                }

                button:hover {
                    cursor: pointer;
                    background-color: $secondary-color;
                }
            }
        }
    }

    .burger-wrapper {
        display: none;
        justify-content: flex-end;
        width: 50%;

        .burger {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            z-index: 1;

            .burger-close,
            .burger-icon {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 1.3rem;
                height: 1rem;

                span {
                    width: 100%;
                    height: 2px;
                    background-color: #ffffff;
                    transition: transform 0.3s ease;
                }

                span:nth-child(1) {
                    transform-origin: top left;
                }

                span:nth-child(3) {
                    transform-origin: bottom left;
                }
            }

            .burger-close {
                span:nth-child(1) {
                    transform: rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }

        .burger-pop-up {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 40%;
            background-color: $bg-color;
            box-shadow: 0px 0px 15px #04060c;;
            
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-flow: column nowrap;
                list-style: none;
    
                li {
                    padding: .5em 0em;
    
                    span {
                        color: $prim-color;
                        margin-right: .3em;
                    }
    
                    .active {
                        padding: .5em 1em;
                        color: $prim-color;
                        text-decoration: none;
                    }
    
                    a {
                        padding: .5em 1em;
                        color: $prim-text-color;
                        text-decoration: none;
                        transition: .2s ease-out;
                    }
    
                    a:hover {
                        cursor: pointer;
                        color: $prim-color;
                    }
    
                    button {
                        padding: 1em 1.5em;
                        color: $prim-color;
                        background-color: transparent;
                        border: 1px solid $prim-color;
                        transition: .2s ease-out;
                    }
    
                    button:hover {
                        cursor: pointer;
                        background-color: $secondary-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        .nav {
            display: none;
        }

        .burger-wrapper {
            display: flex;
        }

        .logo {
            width: 70%;
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        .logo {
            a {
                font-size: 20px;
            }
        }

        .burger-wrapper {
            .burger-pop-up {
                width: 60%;
            }
        }
    }
}