$prim-text-color: #d7dce2;
$prim-color: #ffcc66;
$accent-color: #5b6b8e;

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;

    img {
        width: 55%;
        border: 1px solid $prim-text-color;
        filter: grayscale(100%);
        transition: .2s ease;
    }

    img:hover {
        cursor: pointer;
        padding: .5em;
        filter: grayscale(0%);
        border: 2px solid $prim-text-color;
    }

    .text {
        display: flex;
        align-items: flex-end;
        flex-flow: column nowrap;
        margin-left: 3em;
        text-align: justify;
        width: 40%;

        h2 {
            margin-bottom: .5em;
        }

        p {
            font-size: 20px;
            margin-bottom: .5em;
        }

        .tech-stack {
            display: flex;
            justify-content: space-between;
            width: 70%;

            .tech-stack-element {
                padding: 0em .5em;
                color: $accent-color;
            }
        }

        .refer {
            display: flex;
            justify-content: space-between;
            width: 15%;

            a {
                color: $prim-text-color;
                transition: .2s ease-in;
            }
    
            a:hover {
                color: $prim-color;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .project {
        flex-flow: column nowrap;
        height: fit-content;

        img {
            filter: grayscale(0%);
        }

        .text {
            align-items: center;
            margin: 2em 0em 0em 0em;
            text-align: center;
            width: 70%;

            p {
                font-size: 18px;
            }

            .tech-stack {
                width: 50%;
            }

            .refer {
                width: 10%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .project {
        .text {
            text-align: center;
            width: 80%;
        }
    }
}

@media screen and (max-width: 850px) {
    .project {
        .text {
            text-align: center;
            width: 90%;
        }
    }
}

@media screen and (max-width: 750px) {
    .project {
        .text {
            text-align: center;
            width: 100%;
        }
    }
}

@media screen and (max-width: 650px) {
    .project {
        .text {
            text-align: center;

            .tech-stack {
                width: 60%;
            }

            .refer {
                width: 10%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .project {

        img {
            width: 80%;
        }

        .text {
            text-align: center;

            .tech-stack {
                width: 70%;
            }

            .refer {
                width: 15%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .project {

        img {
            width: 90%;
        }

        .text {
            text-align: center;
            
            .tech-stack {
                justify-content: space-around;
                flex-wrap: wrap;
                width: 90%;
            }

            .refer {
                width: 20%;
            }
        }
    }
}