$prim-text-color: #d7dce2;
$secondary-text-color: #a2aabc;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;
$accent-secondary-color: #2f3b5433;

@mixin content-wrapper($flex-direction, $flex-wrap) {
    display: flex;
    flex-flow: $flex-direction $flex-wrap;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5em;

    .content-wrapper {
        @include content-wrapper(column, nowrap);
        width: 70%;

        .header {
            display: flex;
            justify-content: flex-start;
            flex-flow: column nowrap;
            margin-bottom: 1em;

            .line {
                width: 50%;
                margin-top: .5em;
                border: 1px solid $accent-color;
            }
        }

        .content-wrapper {
            @include content-wrapper(column, nowrap);
            width: 100%;
            align-items: center;

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;

                button {
                    margin-top: 2em;
                    padding: 0em 1em;
                    font-size: 20px;
                    color: $prim-text-color;
                    background-color: transparent;
                    border: none;
                    transition: .2s ease-out;
                }

                button:hover {
                    cursor: pointer;
                    color: $prim-color;
                }

                .active {
                    color: $prim-color;
                    padding: 1em 1em;
                    border-bottom: 1px solid $prim-color;
                }
            }
        }
    }
}

@media screen and (max-width: 1800px) {
    .wrapper {
        .content-wrapper {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .wrapper {
        .content-wrapper {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .wrapper {
        height: fit-content;

        .content-wrapper {
            height: fit-content;
            width: 70%;

            .content-wrapper {
                flex-flow: column-reverse nowrap;

                .buttons {
                    width: 60%;
                    margin-bottom: 3em;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        height: fit-content;

        .content-wrapper {
            height: fit-content;
            width: 70%;

            .content-wrapper {
                .buttons {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .wrapper {
        height: fit-content;

        .content-wrapper {
            height: fit-content;
            width: 70%;

            .header {
                h1 {
                    font-size: 25px;
                }
            }

            .content-wrapper {
                .buttons {
                    width: 130%;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        height: fit-content;

        .content-wrapper {
            height: fit-content;
        }
    }
}