$prim-text-color: #d7dce2;
$secondary-text-color: #a2aabc;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;
$accent-secondary-color: #2f3b5433;

.content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin: 1em 0em;

    .carousel {
        width: 55%;
        height: 100%;
        margin-right: 5em;
    }

    .line {
        height: 80%;
        border: 1px solid $accent-secondary-color;
    }

    .certificate-information {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: 45%;
        height: 80%;
        margin-left: 5em;

        h2 {
            margin-bottom: 1em;
        }

        .regular-p {
            margin-bottom: .5em;
            color: $secondary-text-color;
        }

        .certificate-skills {
            margin: 1em 0em 2em;

            h3 {
                margin-bottom: .5em;
            }

            .skills-wrapper {
                display: flex;
                flex-flow: row wrap;

                .element {
                    background-color: $prim-text-color;
                    padding: .3em .5em;
                    border-radius: 15px;
                    margin: 0em .2em .2em 0em;
                    
                    p {
                        color: $accent-color;
                    }
                }
            }
        }

        .cert-description {
            margin-bottom: 2em;
        }

        .highlight {
            color: $prim-text-color;
        }

        .validity-link {
            color: $prim-text-color;
            text-decoration: none;
            transition: .2s ease-out;

            .icon {
                margin-right: .5em;
            }
        }

        .validity-link:hover {
            cursor: pointer;
            color: $prim-color;
        }
    }
}

@media screen and (max-width: 1300px) {
    .content {
        flex-flow: column nowrap;
        height: fit-content;

        .carousel {
            width: 70%;
            transform: translateX(2.5em);
        }

        .certificate-information {
            text-align: center;
            margin: 2em 0em 0em;

            .certificate-skills {
                .skills-wrapper {
                    justify-content: space-evenly;
                    
                    .element {
                        margin: .5em 0em 0em 0em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .content {
        .carousel {
            width: 80%;
            transform: translateX(2em);
        }

        .certificate-information {
            width: 70%;
        }
    }
}

@media screen and (max-width: 750px) {
    .content {
        .carousel {
            width: 100%;
        }

        .certificate-information {
            width: 100%;
        }
    }
}