$prim-text-color: #d7dce2;
$secondary-text-color: #a2aabc;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;
$accent-secondary-color: #2f3b5433;

.content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin: 1em 0em;

    .carousel {
        width: 60%;
        height: 100%;
        margin-right: 5em;
    }

    .line {
        height: 80%;
        border: 1px solid $accent-secondary-color;
    }

    .certificate-information {
        width: 40%;
        height: 70%;
        margin-left: 5em;

        h2 {
            margin-bottom: 1em;
        }

        p {
            margin-bottom: .5em;
            color: $secondary-text-color;
        }

        .highlight {
            color: $prim-text-color;
        }

        .validity-link {
            color: $prim-text-color;
            text-decoration: none;
            transition: .2s ease-out;

            .icon {
                margin-right: .5em;
            }
        }

        .validity-link:hover {
            cursor: pointer;
            color: $prim-color;
        }
    }
}