$prim-text-color: #d7dce2;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10em;

    .content-wrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 60%;

        .header {
            display: flex;
            align-items: flex-start;
            flex-flow: column nowrap;
            margin-bottom: 2em;
    
            .line {
                width: 50%;
                margin-top: .5em;
                border: 1px solid $accent-color;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .wrapper {
        .content-wrapper {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        .content-wrapper {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        .content-wrapper {
            width: 90%;

            .header {
                h1 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        .content-wrapper {
            .header {
                h1 {
                    font-size: 25px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}