$prim-text-color: #d7dce2;
$prim-color: #ffcc66;
$secondary-color: #ffcc662e;
$accent-color: #2f3b54;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10em;

    .content-wrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 60%;

        .header {
            display: flex;
            align-items: flex-start;
            flex-flow: column nowrap;
            margin-bottom: 2em;
    
            .line {
                width: 50%;
                margin-top: .5em;
                border: 1px solid $accent-color;
            }
        }
    }
}